.projetos{
    padding:2rem;
    background-color: #F7F7F7;
}

.cardsProjetos{
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.card{
    width: 28%;
    margin: 2rem auto;
    box-shadow:2.5px 2.5px 2.5px 2.5px rgba(0, 210, 223, 0.25);
    -moz-box-shadow: 2.5px 5px 5px rgba(0, 210, 223, 0.25);
    -webkit-box-shadow: 2.5px 5px 5px rgba(0, 210, 223, 0.25);
    border-left: solid 5px #00d2df;
}


.cardImg{
    object-fit: cover;
    max-height: 15rem;
    border-bottom: solid 0.5px #00d2df;
}

.Buttonlinks{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
}

@media screen and (max-width:1024px) { // tablet
    .card{
        width:40%
    }
    .Buttonlinks{
        margin: 0 auto;
    }
}

@media screen and (max-width:768px) { //mobile
    .card{
        width:80%
    }
    .Buttonlinks{
        margin: 0 auto;
    }
}
