.projetos{
    padding:2rem;
    background-color: #F7F7F7;
}

.cardsProjetos{
    display: flex;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.card{
    width: 20%;
    margin: 2rem auto;
    //box-shadow:10px 10px 10px 5px rgba(0, 210, 223, 0.2);
    //-moz-box-shadow: 0px 20px 20px #00d2df;
    //-webkit-box-shadow: 0px 20px 20px #00d2df;
    border-left: solid 5px #00d2df;
}

.cardImg{
    object-fit: cover;
    max-height: 10rem;
    border-bottom: solid 0.5px #222;
}

.Buttonlinks{
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
}

@media screen and (max-width:1024px) { // tablet
    .card{
        width:40%
    }
    .Buttonlinks{
        margin: 0 auto;
    }
}

@media screen and (max-width:768px) { //mobile
    .card{
        width:70%
    }
    .Buttonlinks{
        margin: 0 auto;
    }
}
