.sobre{
    padding: 2rem;
}

.sobreBlocos{
    display: flex;
    padding: 2rem;
}

.avatar{
    padding: 0 2rem ;
    height:45%;
    width:45%;
    filter: drop-shadow(10px 10px 10px rgba(0, 210, 223, 0.35))
}

.avatar:hover{
    opacity: .75;
}

.paragrafoSobre{
    margin: 2rem auto;
    font-size: 1.5rem;
}

@media  screen and (max-width:768px) {
    .sobre{
        padding-top: 4rem;
    }
}



